{
  "id": "/{{registry.group}}/{{registry.framework-name}}",
  "instances": 1,
  "cpus": {{registry.cpus}},
  "mem": {{registry.mem}},
  "container": {
    "docker": {
      "type": "DOCKER",
      "image": "{{registry.framework-name}}:{{registry.framework-tag}}",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 5000,
          "hostPort": 0,
          "protocol": "tcp"
        }
      ],
      "parameters": [
        {
          "key": "volume-driver",
          "value": "convoy"
        },
        {
          "key": "volume",
          "value": "{{registry.group}}-{{registry.framework-name}}:/storage"
        },
        {
          "key": "net",
          "value": "weave"
        },
        {
          "key": "hostname",
          "value": "{{registry.group}}-{{registry.framework-name}}.weave.local"
        },
        {
          "key": "dns",
          "value": "172.17.0.1"
        }
      ]
    }
  },
  "healthChecks": [{
     "path": "/",
     "portIndex": 0,
     "protocol": "HTTP",
     "gracePeriodSeconds": 30,
     "intervalSeconds": 60,
     "timeoutSeconds": 20,
     "maxConsecutiveFailures": 3
  }],
  "env": {
    "SETTINGS_FLAVOR": "local",
    "STORAGE_PATH": "/storage"
  },
  "labels": {
    "traefik.frontend.passHostHeader": "true"
  }
}
